<div class="chats">
  <div class="chats__head">
    {{{ profileLink }}}
    <input type="search" class="chats__search" placeholder="Поиск" />
  </div>
  <div class="chat-list">
    {{#each chats}}
      <div class="chat-list__item">
        <div class="chat-list__avatar"></div>
        <div class="chat-list__info">
          <p class="chat-list__name">{{ name }}</p>
          <p class="chat-list__last">
            {{#if isAuthor}}
              <span class="chat-list__you">Вы:</span>
            {{/if}}
            {{ message }}
          </p>
        </div>
        <span class="chat-list__time">{{ time }}</span>
        {{#if unread}}
          <span class="chat-list__unread">{{ unread }}</span>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>


<div class="chat">

  {{#if activeChat}}
    <div class="chat__head">
      <div class="chat__info">
        <div class="chat__image"></div>
        <span class="chat__name">{{ activeChat.name }}</span>
      </div>
      <button class="chat__actions"><span /></button>
    </div>

    <div class="chat__messages">
      {{#each activeChat.messages}}
        {{#if date}}
          <p class="chat__date">{{ date }}</p>
        {{/if}}
        <div class="chat__message{{#if isOwn}} chat__message_own{{/if}}">
          <div class="chat__content">
            {{{ content }}}
          </div>
          <span class="chat__message-time">{{ time }}</span>
        </div>
      {{/each}}
    </div>

    <form class="chat__footer">
      <button class="chat__attach"></button>
      {{{ messageInputField }}}
      <button class="chat__send" type="submit"></button>
    </form>

  {{else}}
    <div class="chat__unselected-message">Выберите чат чтобы отправить сообщение</div>
  {{/if}}
</div>