<div class="auth__field">
  <input id="{{name}}" name={{name}} type="{{type}}" value="{{value}}" {{disabled}} placeholder=" ">
  <label for="{{name}}">{{label}}</label>
</div>
{{#if errorText}}
  <p class="auth__error">{{errorText}}</p>
{{/if}}
