<div class="profile__nav">
  {{{ backLink }}}
</div>
<div class="profile__content">
  <form class="profile__form">
    {{{ changeAvatarButton }}}
    <h3 class="profile__name">{{ name }}</h3>
    <div class="profile__fields">{{{ fields }}}</div>
    {{#if editable}}
      <button class="profile__action-button" type="submit">Сохранить</button>
    {{/if}}
  </form>
  <div class="profile__actions">
    {{{ actions }}}
  </div>
</div>
